---
layout: layouts/base.njk
title: "Demoted Society"
permalink: index.html
---

<section class="recent hero">
    <div class="container">
      <h2 class="section-title">Recent</h2>

      
      <div class="cards">


        <article class="card">
          <img src="images/media/Starfleet-Academy/Starfleet-Academy-athena.png" alt="Article image">
          <div class="card-body">
            <time datetime="2025-11-04">Feb 20, 2026</time>
            <a href="starfleet-academy.html"><h3>Star Trek: Starfleet Academy and the Question of Audience</h3></a>
            <p>I was going to write a review of the first episode of Star Trek: Starfleet Academy, but there are so many people 
              reviewing every episode and it took me a while to get something together, so I decided I would do something else. 
            </p>
          </div>
        </article>

        <article class="card">
          <img src="images/media/washington-face.png" alt="Article image">
          <div class="card-body">
            <time datetime="2026-02-19">Feb 19, 2026</time>
            <a href="life-of-george-washington-vol2.html"><h3>Life of George Washington: Volume 2</h3></a>
            <p>My high-level notes and thoughts on volume two of the Life of George Washington by Washington Irving</p>
          </div>
        </article>

        <article class="card">
          <img src="images/tech/elecom-deft/elecom-deft-banner.jpg" alt="Elecom Deft">
          <div class="card-body">
            <time datetime="2025-11-05">Jan 25, 2026</time>
            <a href="elecom-deft.html"><h3>Review: The Elecom Deft M-DT2DRBK</h3></a>
            <p>For trackball enthusiasts, the quest for the "perfect" pointer is often a journey of compromise. We are all 
              essentially chasing the ghost of the legendary Microsoft Explorer Trackball. Enter the Elecom Deft M-DT2DRBK</p>
          </div>
        </article>







        

        
        

        


      </div>
    </div>
  </section>

  <section class="adventures">
    <div class="container">
      <h2 class="section-title">adventures in tech</h2>

      <article class="large-card card">
        <img src="images/tech/macbook-pro/PXL_20260125_174854409.jpg" alt="Large article image">
        <div class="card-body">
          <time datetime="2025-11-06">Dec 31, 2025</time>
          <a href="macbook-pro-review.html"><h3>The M1 Pro MacBook Pro in 2026: A Long-Term Linux User's Perspective</h3></a>
          <p>After a decade in the Linux and Windows ecosystems, a seasoned user puts the M1 Pro MacBook Pro to the test to see how Apple’s veteran silicon 
            holds up in 2026. This review explores the "pro" hardware—from its industry-leading speakers to the polarizing notch—while navigating the 
            workflow hurdles of transitioning from a ThinkPad to macOS. It’s a candid look at whether this legendary workstation remains a top-tier choice 
            for power users or if the software learning curve is too steep to climb.</p>
        </div>
      </article>
    </div>
  </section>