---
layout: layouts/base.njk
title: "Interview With the Vampire — Demoted Society"
permalink: interview-with-the-vampire.html
---

<section class="blog_content">
    <div class="blog_content-article">
        <h1 class="blog_content-title">Interview With the Vampire</h1>
        <h3 class="blog_content-date">August 4, 2026</h3>

        <p class="blog_content-p">I read Interview With the Vampire recently so I could discuss it with my wife, who wanted to read the book. The book is definitely a step away from books that I would normally read, but it was a fun read overall. The part that kept me the most engaged is I am coming at this from growing up with the movie, and liking that, so it was very interesting seeing what was the same and what was different. But ultimately, this was not a book designed for me. The book focused a lot more on feelings, the emotional weight of living as a vampire, and the ways Louis, the main character, loves different people in different ways. Let’s get into it.</p>

        <h3 class="blog_content-subheading">The Characters</h3>
        <p class="blog_content-p">Louis is the main character. He is the voice from which the story is told, and it is interesting to read the story in the manner of him narrating his life to a person who is interviewing him. He goes on the adventure of losing his brother, becoming a vampire, having to wrestle with having to kill to survive and thrive and viewing that as making him a monster.</p>
        <p class="blog_content-p">He goes through the arc of slowly losing his passion and love of people and life as each person in his life tears a little of that away. Starting with losing his brother, to having Babette find out and he is a vampire and look upon him with horror. He begins to realize that Lestat wants to control him as a slave, Claudia despises him and loves him at the same time, and in the end, even Armand is not there for him and allows Claudia to be killed. This drives the last bit of love and passion from him, which he never recovers.</p>
        <p class="blog_content-p">Lestat is the key Antagonist. While he is the one that creates Louis and Claudia, everything he does is for himself. Whether he creates Louis so he has a virtually enslaved vampire that is tied to him, and whose estate he can use, or Claudia who he creates to keep Louis around. He makes an interesting antagonist and in the end, his desire to have Louis with him leads to the death of Claudia and the final driving away of Louis. Louis and him finally come back together to talk, but there was not enough there to explain why things turned out the way it did. I found that disappointing.</p>
        <p class="blog_content-p">Claudia is the child vampire. She is evil and selfish in her own right. Over time she matures mentally, but never matures physically, and this becomes a large plot point because she cannot drink as much blood as a full grown vampire, nor does she have enough to turn another adult into a vampire. However, she needs an adult with her all the time to navigate the world because the world will always see her as a child. She is more aggressive than Louis, and is often the one bossing him around and driving their actions once Lestat is out of the way.</p>

        <h3 class="blog_content-subheading">Key Events</h3>
        <p class="blog_content-p">I will cover the overall plot at a high level, covering key plot points without going into exhaustive detail.</p>
        <p class="blog_content-p">Louis loses his brother and is effected deeply, becoming an alcoholic, but still having to care for his sister and mother. Letstat happens upon him and turns him into a vampire to get access to the estate both for him and his own dying father. Louis finds it difficult to adjust, believing it is wrong to kill people, and early on, drinks animal blood. The slaves eventually get suspicious and appear about to revolt against Lestat and Louis, but the plantation house is set on fire and the two escape to New Orleans.</p>
        <p class="blog_content-p">While in New Orleans, Lestat and Louis continue to not get along. Louis resolves to leave. In a fit of hunger, he feeds from a young girl whose mother had died. Lestat, in an effort to keep Louis around, turns the young girl into a vampire and she joins the group. Louis begins treating her like a daughter, and the trio stay in New Orleans for decades. Eventually, Claudia begins to hate Lestat as well, and plots with Louis to kill him and leave. While Louis did not want to kill Lestat, he does not stop it from happening. While the two believe Lestat dead, he returns and they barely escape on a boat headed for Europe.</p>
        <p class="blog_content-p">Louis and Claudia search for information about vampires in eastern Europe, but only find some strage, almost feral vampires there, and a populace much more aware of vampire existence. They end up having to kill the feral vampire and then escape to Paris.</p>
        <p class="blog_content-p">Once in Paris, Louis happens upon the vampires that run the theater. While he an Claudia eventually get admitted to the group, they are not trusted because they will not speak further about their past and the vampire that made them. Additionally, Claudia being a child is viewed as a problem. Louis meets Armand, who claims to be the oldest vampire alive. Louis immediately loves Armand and wants to be around him and learn from him. Armand wants Louis because he is dying a vampire death, and thinks Louis can prevent it by helping him connect to the modern world around him.</p>
        <p class="blog_content-p">Claudia, seeing this change in Louis, harangues Louis into creating a female vampire to be with her. The other vampires from the theater abduct Louis, Claudia, and the other lady, seal Louis in a coffin and seal him into a wall. Claudia and the other lady are allowed to burn in the sun. Armand lets Louis out and he discovers Lestat is there and behind getting the women killed. Lestat says he couldn’t stop them. Louis leaves, but returns later, seals the vampires in the theater, and then burns it down, getting his revenge for Claudia.</p>
        <p class="blog_content-p">Louis spends decades with Armand, traveling the world. Eventually, the couple return to New Orleans. Louis finds Lestat returned there and there is a final conversation. Louis then learns that Armand is dying. Armand thought that Louis might eventually recover the passion that he had prior to the death of Claudia, but that never happened. Armand leaves forever.</p>

        <h3 class="blog_content-subheading">Key Differences Between the Book and Movie</h3>
        <p class="blog_content-p">It has been a long time since I have watched the movie, but I will attempt to do some comparisons that I noticed.</p>
        <p class="blog_content-p">In the book, Louis loses his brother, but still has to care for his mother and sister; however, in the movie, Louis is without anyone to care for, as is Lestat. There is a meaningful change in the early dynamic.</p>
        <p class="blog_content-p">The book also has interactions, such as an early one with Babette that help craft his view as a vampire, where the movie lacks these interactions. Because of the format of a movie, we get significantly less of the underlying motivation behind Louis, his detesting of Lestat from the beginning, or his love of Armand. Characters like Claudia have significantly larger roles to play in the book, with Claudia actually becoming a driving character in the plot, pushing Louis forward. In the movie, which she is there and has some of the same beats, her intelligence is never shown, such as her diving into vampiric knowledge.</p>
        <p class="blog_content-p">The entire part in eastern Europe is left out of the movie, and I can understand that. By the end of that part, there is little character development and the characters end up in the same place as the movie. While I thought it was interesting, it was a part worth skipping for time.</p>
        <p class="blog_content-p">The ending is very different. I will have to go back and watch the movie, but I do not recall Louis traveling the world with Armand, nor the whole bit of Armand loving Louis and dying. Lestat also does not appear in the interviewer’s car and comment on Louis’ recorded interview, but instead it is the interviewer that is insinuated he will seek out Lestat.</p>
        <p class="blog_content-p">What I noticed though, when reading this book, given that I saw the movie first, was that I could see many of the scenes lifted straight from the book. When I was reading, I was in a scene and recognized it, which is more than I could say for a show like Wheel of Time. While there were meaningful changes, many scenes were very similar. It is refreshing to see another honest attempt at actually adapting the source material. Something which, I imagine, is not being done with the Interview With the Vampire TV show.</p>

        <h3 class="blog_content-subheading">A Story for Women and Not Men</h3>
        <p class="blog_content-p">A bit hyperbolic. Of course men read this novel and enjoy it, but I would say that the audience for this book, and the movie, and the TV show, probably leans female. A quick investigation suggests that the TV show leans heavily female and that makes sense.</p>
        <p class="blog_content-p">When reading the book, the story focused heavily on Louis’ introspection, his feelings, and the relationships with the people around him. There were heavy implications of romantic feelings and relationships between the male characters, though it is mentioned at one point that Louis did not specifically have a physical attraction to Armand. The TV show leans more heavily into that aspect, making it explicit.</p>
        <p class="blog_content-p">The women characters, whether Claudia or Babette, are written as strong and stepping in to take charge of their respective situaitons.</p>
        <p class="blog_content-p">While there is action, the action is secondary and only used at specific plot points. The focus is much more heavily focused on the the character interaction and emotional development. And all of that is fine, but I could see where this could turn away many male readers, who I think would want more action and heroic sacrifice.</p>
        <p class="blog_content-p">Broader themes of heroism, morality, honor, duty, these are things that men will find more appealing. This story does delv into morality, but it is a more gray area, where it questions the morality of vampires killing people. It is their nature and they live forever, so is it really immoral that they kill people? And in the end, our hero, loses his sense of morality and continues on.</p>
        <p class="blog_content-p">By the end, I kind of hated all of the characters and thought they all deserved a stake in the heart.</p>

        <h3 class="blog_content-subheading">Conclusion</h3>
        <p class="blog_content-p">Overall, I enjoyed the story, but I think some of it was nostalgia from a movie I watched as a child. I enjoyed reading through the scenes that I had seen from the movie, and seeing what was different. Getting to understand some of the deeper meaning behind Louis’ and Claudia’s motivations was very interesting, and may cause me to enjoy the movie more if I ever watch it again.</p>
        <p class="blog_content-p">However, remove that connection away and I do not really think this is a story for me. I did not appreciate the homosexual undertone to Louis and his relationships, particularly with Armand. I did not like that Louis came off and a doormat for Lestat, and the Claudia, and to one extent, Armand. In the end, Armand almost became a doormat for Louis, following Louis around in the hope to gain a new appreciation for life, only to fail and walk off into the sunset so he could die of sadness.</p>
        <p class="blog_content-p">The lack of explanation for why the vampires in eastern Europe are savage left a sense of irritation, and I do not care if it is explained in a different story or on some online forum, I am not reading those. I was just left questioning why that was the case and thought I would get an answer from someone like Armand, but I did not.</p>
        <p class="blog_content-p">And the end was a let down. I thought there would be a great final conversation between Louis and Lestat, but there was not. And sure, Louis had lost any passion he had to have the conversation, and that was probably the point, but damn this story could have used that. Something to give it a little more closure than Lestat remains desperate to get Louis back, Armand is sad Louis has no passion and walks off to die, and Louis leaves the interview to go be a passionless vampire, wandering around feeding on people because it is his nature. Where is Buffy when you need her?</p>
    </div>
</section>
