---
layout: layouts/base.njk
title: "Demoted Society"
permalink: politics.html
---

<section class="adventures">
    <div class="container">
      <h2 class="section-title">Politics</h2>

      <article class="large-card card">
        <img src="images/politics/trans.jpg" alt="Large article image">
        <div class="card-body">
          <time datetime="2025-12-19">Dec 19, 2025</time>
          <h3><a href="trans.html">Transgender is philisophical, not scientific</a></h3>
          <p>I discuss why I think transgenderism is based on a philisoophical desire to re-frame language and how we conceptualize life, and not based on science.</p>
        </div>
      </article>
    </div>
  </section>