---
layout: layouts/base.njk
title: "Star Wars — Demoted Society"
permalink: star-wars-book.html
---

<section class="blog_content">
        <div class="blog_content-article">
            <h1 class="blog_content-title">Book Review: Star Wars (From the Adventures of Luke Skywalker)</h1>
            <h3 class="blog_content-date">September 24, 2026</h3>

            <p class="blog_content-p">Continuing my read through Star Wars, I finally reached the first book in the original trilogy. It was intriguing to discover that the book was published before the movie’s release. Based on notes and an early version of the script, it was ghostwritten under George Lucas’s name by Alan Dean Foster. The book was a short, engaging read, offering a glimpse into the scenes from the movie I grew up watching, now brought to life in written form.</p>

            <h3 class="blog_content-subheading">Character Changes</h3>

            <p class="blog_content-p">One of the most intriguing aspects was the character changes and additional content that could have emerged from the book’s early release and its foundation in discarded notes from the movie’s development.</p>

            <p class="blog_content-p">A few notable changes include R2-D2 being described as having clawed feet that could grip the floor and a gripping arm. C-3PO also appeared more capable and less bumbling than in the film, showing greater awareness of the vaporators and the overall plot.</p>

            <h3 class="blog_content-subheading">Added Scenes</h3>

            <p class="blog_content-p">Added scenes featured Luke interacting with his friends, such as Biggs, who had joined the academy. There were also expanded conversations with Owen Lars and Aunt Beru, providing deeper context for Luke’s mindset on the moisture farm. I enjoyed learning more about his character, and the story also offered additional details about the Jawas and the Sand People.</p>

            <h3 class="blog_content-subheading">The Sith</h3>

            <p class="blog_content-p">Perhaps the most fascinating addition was the immediate introduction of Darth Vader as a Lord of the Sith. This appeared at the book’s beginning, with hints that there were more such Lords, and that Vader was the worst among them. The Emperor was described as captured by the system and intimidated by these Sith Lords. This suggests the concept of the Sith was already in place from the start, rather than something George Lucas developed later. While the Emperor’s role might have evolved, it’s easy to imagine the Empire misinterpreting his true power and position.</p>

            <h3 class="blog_content-subheading">Ben Kenobi</h3>

            <p class="blog_content-p">Ben Kenobi came across as highly knowledgeable and more capable than in the film. His lack of awareness about Alderaan’s destruction, which I found preferable in the movie, aligns with the idea that a powerful Force user would sense such an event.</p>

            <p class="blog_content-p">What stood out to me while reading was the oddity of his extensive knowledge about Imperial troopers and their tactics, given his supposed seclusion on Tatooine. Storm Troopers differ from Clone Troopers, and I’m unsure how he could have learned about their precision without interacting with them, especially since his time on the planet is said to have been uninterrupted. I imagine he would have known about Storm Troopers, but the level of detail about their capabilities feels out of place.</p>

            <h3 class="blog_content-subheading">Final Verdict</h3>

            <p class="blog_content-p">Beyond these points, the book follows the movie closely, and it was a joy to read. The writing was decently crafted, and I’m looking forward to returning to The Empire Strikes Back. Next, I plan to read Splinter of the Mind’s Eye. These have been delightful little books, and I’m grateful to have received them from my dad.</p>

        </div>
    </section>
