---
layout: layouts/base.njk
title: "Demoted Society"
permalink: tech.html
---

<section class="adventures">
    <div class="container">
      <h2 class="section-title">Reviews, Linux Distro walk-throughs, and more</h2>
       
      <article class="medium-card">
        <img src="images/tech/macbook-pro/PXL_20260125_174854409.jpg" alt="MacBook Pro">
        <div class="card-body">
          <time datetime="2025-11-06">Jan 25, 2026</time>
          <a href="macbook-pro-review.html"><h3>Review: The M1 Pro MacBook Pro in 2026</h3></a>
          <p>After a decade in the Linux and Windows ecosystems, a seasoned user puts the M1 Pro MacBook Pro to the test to see how Apple’s veteran silicon 
            holds up in 2026. This review explores the "pro" hardware—from its industry-leading speakers to the polarizing notch—while navigating the 
            workflow hurdles of transitioning from a ThinkPad to macOS. It’s a candid look at whether this legendary workstation remains a top-tier choice 
            for power users or if the software learning curve is too steep to climb.</p>
          </p>
        </div>
      </article>     



      <article class="medium-card">
        <img src="images/tech/elecom-deft/elecom-deft-banner.jpg" alt="Elecom Deft">
        <div class="card-body">
          <time datetime="2025-11-06">Jan 25, 2026</time>
          <a href="Acer-Nitro.html"><h3>Review: The Elecom Deft M-DT2DRBK</h3></a>
          <p>or trackball enthusiasts, the quest for the "perfect" pointer is often a journey of compromise. We are all 
              essentially chasing the ghost of the legendary Microsoft Explorer Trackball. Enter the Elecom Deft M-DT2DRBK
          </p>
        </div>
      </article>



      <article class="medium-card">
        <img src="images/tech/acer-nitro/PXL_20251206_182018342.MP.jpg" alt="Acer Nitro">
        <div class="card-body">
          <time datetime="2025-11-06">Dec 31, 2025</time>
          <a href="what-i-use-2025.html"><h3>What I Used 2025</h3></a>
          <p>To finish out 2025, here is a quick rundown of the key tech that I used in 2025.
          </p>
        </div>
      </article>
      
      
      
      <article class="medium-card">
        <img src="images/tech/acer-nitro/PXL_20251206_182018342.MP.jpg" alt="Acer Nitro">
        <div class="card-body">
          <time datetime="2025-11-06"></time>
          <a href="Acer-Nitro.html"><h3>Review: The Acer Nitro V 16” (RTX 4060)</h3></a>
          <p>Stepping up from a system unable to handle an Elder Scrolls: Oblivion remake speaks volumes about the previous 
            hardware's limitations. In the current volatile market for GPUs and RAM, finding a capable machine without breaking 
            the bank is a win. I’ve spent the last six months putting the Acer Nitro V 16” through its paces, and while it firmly 
            occupies the "budget gaming laptop" tier, it punches well above its weight class in raw performance.
</p>
        </div>
      </article>
      
      
      <article class="medium-card">
        <img src="images/tech/kobo-clara/kobo-clara-color.jpg" alt="Kobo Clara Color">
        <div class="card-body">
          <time datetime="2025-11-06"></time>
          <a href="kobo.html"><h3>Kobo Clara Color</h3></a>
          <p>As an avid reader who has been locked into the Amazon Kindle ecosystem for years—most recently utilizing a reliable, 
            albeit aging, 10th-generation Paperwhite—I found myself facing a dilemma rooted in proprietary file formats and digital 
            rights management (DRM). While e-readers are fantastic for carrying a vast library of free, public-domain titles from 
            sources like Project Gutenberg, Amazon’s historically closed system created friction.</p>
        </div>
      </article>
      
      
      
      <article class="medium-card">
        <img src="images/tech/raspberry-pi/raspberry_pi.jpg" alt="medium-image">
        <div class="card-body">
          <time datetime="2025-11-06">November 10, 2025</time>
          <a href="wot-s3-ep2-3.html"><h3>Hosting This Site on a Raspberry Pi</h3></a>
          <p>In an effort to help my learning how to use Linux, I decided to take my Raspberry Pi and host this site on it. This 
            is a detailed account of that process.</p>
        </div>
      </article>


    </div>

    </section>